/* Universal Styles */
html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.container {
  width: 960px;
  margin: auto;
}

/* Banner Background*/
#banner {
  height: 30rem;
  width: 100%;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Header Bar*/
#headerfull {
  color: white;
  font-size: 1rem;
  background-color: cadetblue;
  padding: 1rem 2rem;
  position: relative;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

#headermobile {
  display: none;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  height: 1.5rem;
  margin-right: 1rem;
}

#header nav span {
  margin-left: 2rem;
}

/* Headline */
#headline {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  position: relative;
  top: 11rem;
  left: 2rem;
  display: inline-block;
  float: right;
}

/* Services */
#services {
  display: flex;
  justify-content: center;
}

.service {
  height: 8rem;
  text-align: center;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service img {
  margin: 0 auto;
}

.service #paper {
  width: 3.5rem;
}

.service #ruler, .service #truck {
  width: 5rem;
}

.service p {
  line-height: 1.4;
}

/* Information */
#information {
  display: flex;
  justify-content: center;
}

.info {
  width: 35%;
  margin: 0 2.5%;
}

.info h4 {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
}

.info p {
  line-height: 1.4;
}

/* Footer */
#footer {
  background-color: azure;
  padding: 4rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
}

#footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

/* Rules for Tablet Screen */
@media only screen and (max-width:1024px) {
  .container {
    width: 100%;
  }

  #banner {
    height: 22rem;
  }

  #headerfull {
    position: static;
  }

  #headline {
    font-size: 1.33rem;
    position: relative;
    top: 5rem;
    left: 0;
    padding: 1.75rem 4rem;
    margin-right: 2rem;
  }
}

/* Rules for Phone Screen */
@media only screen and (max-width:470px) {
  #banner {
    height: 17rem;
    background-position: 20%;
  }

  #headerfull {
    display: none;
  }

  #headermobile {
    color: white;
    font-size: 1rem;
    background-color: cadetblue;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
  }

  #headline {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    position: relative;
    top: 9rem;
    padding: 1rem 0;
    display: block;
    float: none;
  }

  #services {
    display: flex;
    flex-direction: column;
    margin: 3.77rem auto;
  }

  .service {
    margin: 0;
  }

  .service #ruler, .service #truck {
    margin-top: 1.54rem;
  }

  #information {
    display: flex;
    flex-direction: column;
  }

  .info {
    width: 100%;
    margin: 0 0 4rem 0;
  }

  .info h4 {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }

  .info p {
    font-size: 0.77rem;
    padding: 0 0.5rem 0 0.5rem;
  }

  #footer {
    margin: 0;
    padding: 4rem 0;
    width: 100%;
  }

  #footer img {
    margin: auto;
  }

  #footer p {
    display: none;
  }
}
